Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering

fix(ci): run semgrep on self
  .github/workflows/semgrep.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix(semgrep): print semgrep output to console log (#314)
  .github/workflows/semgrep.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
Owners: @Kong/team-security-engineering

feat(sca): refactored grype cache
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(sca): refactored grype cache (#318)
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

fix(sca): grype db should be downloaded at least daily
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

fix(sca): grype db should be downloaded at least daily (#324)
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
Owners: @Kong/team-security-engineering

fix(scan-docker-image): grype DB should be downloaded at least daily
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(scan-docker-image): refresh grype db daily
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(scan-docker-image): grype DB should be downloaded at least daily (#329)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

fix: improve grype caching resilience by checking for valid DB. add force grype cache refresh
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

feat(trigger-workflow-and-wait): first implementation
  .github/workflows/trigger-workflow-and-wait-selftest.yml
  .github/workflows/trigger-workflow-and-wait.yml
  workflow-actions/trigger-workflow-and-wait/CHANGELOG.md
  workflow-actions/trigger-workflow-and-wait/README.md
  workflow-actions/trigger-workflow-and-wait/action.yaml
  workflow-actions/trigger-workflow-and-wait/package.json
  workflow-actions/trigger-workflow-and-wait/scripts/entrypoint.sh
Owners: @Kong/team-shared-actions-reviewers

fix: workspaces and checkout when testing
  .github/workflows/trigger-workflow-and-wait.yml
  lerna.json
  pnpm-workspace.yaml
Owners: @Kong/team-shared-actions-reviewers

fix: exec and permissions
  .github/workflows/trigger-workflow-and-wait-selftest.yml
  workflow-actions/trigger-workflow-and-wait/scripts/entrypoint.sh
Owners: @Kong/team-shared-actions-reviewers

fix: ref
  .github/workflows/trigger-workflow-and-wait.yml
Owners: @Kong/team-shared-actions-reviewers

fix: ref
  .github/workflows/trigger-workflow-and-wait.yml
Owners: @Kong/team-shared-actions-reviewers

fix: improve grype caching resilience by checking for valid DB. add force grype cache refresh (#342)
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

fix: list root cache dir
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

fix(sca): list root cache dir (#344)
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
Owners: @Kong/team-security-engineering

feat(ci): pr audit shared action
  pr-previews/README.md
  pr-previews/audit/CHANGELOG.md
  pr-previews/audit/action.yaml
  pr-previews/audit/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): unresolved alias error in the list of files
  pr-previews/README.md
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): easing up number of open renovate PRs
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): auditing old renovate PRs
  pr-previews/README.md
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): logging
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): list managers in no test summary
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): combine renovate PR criterias
  pr-previews/README.md
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): typos
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): do not ignore unfixable
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): exclude vulnerabilities with no patch from audit report
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

feat(ci): pr audit shared action (#347)
  pr-previews/README.md
  pr-previews/audit/CHANGELOG.md
  pr-previews/audit/action.yaml
  pr-previews/audit/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): reading PR labels [KHCP-18541]
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): output labels
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): outputing labels
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): trying toi read from javascript object
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): getting labels via api
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): reading PR labels [KHCP-18541] (#349)
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly
