Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering

feat: skip trivy scan
  .github/dependabot.yml
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/action.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat: update trivy image
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat: update trivy image
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat: update --compliance flag value
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat: use image directly from dockerhub
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat: use image directly from dockerhub
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

skip cis db access and run in offline mode
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat: input to skip Trivy scan (#156)
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat: slack workflow conclusion notifications
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix: optional header
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

chore: default message
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix: add workflow number
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix: text
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

feat: slack workflow conclusion notifications (#160)
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix(slack): flip failure message
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

chore: display text
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix(slack): flip failure message (#161)
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix: success not status
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix: success not status (#162)
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

feat(slack): new workflow inputs
  .github/workflows/test-slack-actions.yaml
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

test: add additional test runs
  .github/workflows/test-slack-actions.yaml
Owners: @Kong/team-shared-actions-reviewers

feat(slack): new workflow inputs (#163)
  .github/workflows/test-slack-actions.yaml
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(deps): bump github/codeql-action/upload-sarif from v2 to v3
  security-actions/scan-rust/action.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

chore(deps): bump github/codeql-action/upload-sarif from v2 to v3
  security-actions/scan-rust/action.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

init 1
  .github/imageList.yaml
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 2
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 2
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 2
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 3, move script to a bash file
  .github/scripts/sync_images.sh
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 3, move script to a bash file
  .github/imageList.yml
Owners: @Kong/team-shared-actions-reviewers

init 3, move script to a bash file
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 3, update bash script
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 3, update bash script
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 3, update bash script
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

update version 0.56.1
  .github/imageList.yml
Owners: @Kong/team-shared-actions-reviewers

update version 0.56.1
  .github/imageList.yml
Owners: @Kong/team-shared-actions-reviewers

update version 0.56.1
  .github/imageList.yml
Owners: @Kong/team-shared-actions-reviewers

updated the poc
  .github/imageList.yml
  .github/scripts/sync_images.sh
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

updated regctl command
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

degrading trivy version for testing
  .github/imageList.yml
Owners: @Kong/team-shared-actions-reviewers
