Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

updated regctl pull
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

updated logic
  .github/imageList.yml
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

updated get_upstream_tags
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

updated returns
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

outputed the messages to stderr
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

added semgrep
  .github/imageList.yml
Owners: @Kong/team-shared-actions-reviewers

updated the logic
  .github/imageList.yml
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

updated the logic
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

updated the logic to remove tag from imageList.yml
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 3
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 4
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 5
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 5
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 6
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 7
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 7
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 7
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 7
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 8
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 8
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 9
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 10
  .github/scripts/sync_images.sh
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 10
  .github/scripts/sync_images.sh
  .github/workflows/imagePullThrough.yml
Owners: @Kong/team-shared-actions-reviewers

init 11
  .github/scripts/sync_images.sh
Owners: @Kong/team-shared-actions-reviewers

init 12
  .github/dependabot.yml
Owners: @Kong/team-shared-actions-reviewers

init 13
  .github/dependabot.yml
  security-actions/scan-docker-image/action.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

init 13
  .github/dependabot.yml
Owners: @Kong/team-shared-actions-reviewers

update image URI
  .github/dependabot.yml
  security-actions/scan-docker-image/action.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

updated json
  renovate.json
Owners: @Kong/team-shared-actions-reviewers

feat(security-actions/scan-docker-image): support `trivy_db_cache` as input which allows caching the Trivy DB to get around rate limiting issues
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat(SEC-1265): process to sync OCI artifacts from upstream to Kong ECR
  .github/artifactsList.yml
  .github/scripts/README
  .github/scripts/sync_security_artifacts.sh
  .github/workflows/sync_security_artifacts.yml
Owners: @Kong/team-shared-actions-reviewers

feat(SEC-1265): process to sync OCI artifacts from upstream to Kong ECR
  .github/artifactsList.yml
  .github/scripts/sync_security_artifacts.sh
Owners: @Kong/team-shared-actions-reviewers

chore: use trivy-action to avoid using docker://
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(docs): update semgrep readme
  security-actions/semgrep/README.md
Owners: @Kong/team-security-engineering

chore(docs): update semgrep readme (#195)
  security-actions/semgrep/README.md
Owners: @Kong/team-security-engineering

chore(ci): disable skipping cis scan
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(security-actions/scan-docker-image): bump trivy 0.57.1 to use updated mirror for `trivy-db` and `trivy-java-db`
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(security-actions/scan-docker-image): use kong gh app to clone db mirror repo
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

Revert "feat(security-actions/scan-docker-image): use kong gh app to clone db mirror repo"
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

docs: update example on using trivy internal cache mirror and access permissions
  security-actions/scan-docker-image/README.md
Owners: @Kong/team-security-engineering

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering
