Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering

fix(ci): try
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): missing dq
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): error
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): true
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): handle exit code more gracefully
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix: when dumping pnpm Audit results into file - handle error gracefully [KHCP-19528] (#362)
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): audit level from input params [KHCP-19528]
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): audit level from input params [KHCP-19528] (#363)
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(scan-docker-image): upgrade trivy from v0.60.0 to v0.69.2
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(scan-docker-image): upgrade trivy from v0.60.0 to v0.69.2 (#364)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

ci(ci): fix lockfile by running pnpm install so it is updated
  pnpm-lock.yaml
Owners: @Kong/team-shared-actions-reviewers

ci(ci): fix lockfile by running pnpm install so it is updated (#365)
  pnpm-lock.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(release): publish [skip ci]
  pr-previews/audit/CHANGELOG.md
  pr-previews/audit/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly, @Kong/team-security-engineering

feat(scan-docker-image): fix typo so new version is published
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat(scan-docker-image): fix typo so new version is published (#366)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

fix(ci): add playwright patterns to detect tests
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): add playwright patterns to detect tests (#367)
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): publish [skip ci]
  pr-previews/audit/CHANGELOG.md
  pr-previews/audit/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): bumping actions to prevent node 20 warning []KHCP-20416]
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): more bumps
  code-check-actions/lua-lint/README.md
  pr-previews/audit/action.yaml
Owners: @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): bumping actions to prevent node 20 warning []KHCP-20416] (#368)
  code-check-actions/lua-lint/README.md
  pr-previews/audit/action.yaml
Owners: @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): bumping slackapi/slack-github-action [KHCP-20416]
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix(ci): bumping slackapi/slack-github-action [KHCP-20416] (#369)
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix(ci): missing required parm for slackapi/slack-github-action [KHCP-20416]
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix: change webhook type to incoming-webhook
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

fix(ci): missing required parm for slackapi/slack-github-action [KHCP-20416] (#370)
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(release): publish [skip ci]
  pr-previews/audit/CHANGELOG.md
  pr-previews/audit/package.json
  slack-actions/workflow-notification/CHANGELOG.md
  slack-actions/workflow-notification/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly, @Kong/team-shared-actions-reviewers

chore(ci): bump node.js to 24
  code-check-actions/lua-lint/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(ci): bump node.js to 24
  code-check-actions/lua-lint/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-security-engineering

update deps; keeping the process manual with pinning and hash
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

security-action/sca actions update (#372)
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

fix(ci): instead of manager approval require test-exempt description [KHCP-21463]
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix: formatting
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix: changing tag
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix: formatting
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix: use correct tag
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix: replace - with _
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix: exclude template
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly
