Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

fixup! feat(lua-lint): add an option to make the action fail if the linting fails
  code-check-actions/lua-lint/action.yml
Owners: @Kong/team-security-engineering

fixup! feat(lua-lint): add an option to make the action fail if the linting fails
  code-check-actions/lua-lint/action.yml
Owners: @Kong/team-security-engineering

feat(lua-lint): add an option to make the action fail if the linting fails (#121)
  code-check-actions/lua-lint/action.yml
Owners: @Kong/team-security-engineering

Move threat-modeler logic to separate repo and merge action yml
  security-actions/threat-modeler/action.yml
  security-actions/threat-modeler/threat-modeler/action.yml
  security-actions/threat-modeler/threat-modeler/dist/main.js
  security-actions/threat-modeler/threat-modeler/package-lock.json
  security-actions/threat-modeler/threat-modeler/package.json
  security-actions/threat-modeler/threat-modeler/prompt.txt
  security-actions/threat-modeler/threat-modeler/src/main.ts
  security-actions/threat-modeler/threat-modeler/tsconfig.json
Owners: @Kong/team-security-engineering

Bump sbom-action from v.0.15.11 to v0.16.0
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

Bump sbom-action from v.0.15.11 to v0.16.0 (#123)
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

Create docker-build-action-summary.yml
  .github/workflows/docker-build-action-summary.yml
Owners: @Kong/team-shared-actions-reviewers

Create Dockerfile
  Dockerfile
Owners: @Kong/team-shared-actions-reviewers

Update README.md
  security-actions/scan-docker-image/README.md
Owners: @Kong/team-security-engineering

Run CVE analysis when DB cache or upstream cdn is live
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

Run CVE analysis when DB cache or upstream cdn is live (#141)
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix: omitted severity flags in docker image scan action
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

save grype db cache on updates to avoid using stale cache db
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

save grype db cache on updates to avoid using stale cache db (#147)
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

fix grype cache save and avoid marking cache as readonly
  .github/workflows/dir-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

use temporary cache key and restore keys for grype cache
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

Avoid same cache key overwrite issues when saving cache on multiple invocations
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix grype db logging condition
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

Remove severity env
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix: omitted severity flags in docker image scan action (#142)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

SEC-1176 - Skip Grype DB Caching
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

SEC-1176 - update PR for final review
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

SEC-1176 - Option to skip Grype DB caching and tradeoff to use Grype CDN (#148)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

Add `inputs.print_results` to lua-lint action.
  code-check-actions/lua-lint/action.yml
Owners: @Kong/team-security-engineering

Defaulting to use grype cdn and skip cache by default
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

remove unwanted typo
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

Defaulting to use grype cdn and skip cache by default (#152)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat(SEC-1211): update semgrep version
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

feat(SEC-1211): update semgrep version
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

test permission issue in semgrep
  .github/workflows/semgrep.yml
Owners: @Kong/team-shared-actions-reviewers

Add a new entry for the Semgrep action under the docker ecosystem
  .github/dependabot.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

syntax fix
  .github/workflows/semgrep.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

syntax fix
  .github/workflows/semgrep.yml
Owners: @Kong/team-shared-actions-reviewers

syntax fix
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

syntax fix
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

test
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

test
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

removed the semgrep package-ecosystem
  .github/dependabot.yml
Owners: @Kong/team-shared-actions-reviewers

Add `inputs.print_results` to lua-lint action. (#149)
  code-check-actions/lua-lint/action.yml
Owners: @Kong/team-security-engineering

feat(SEC-1211): update semgrep version (#154)
  .github/dependabot.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering
