Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

chore(ci): use unscoped package names for git release tags
  README.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/package.json
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/package.json
  pr-previews/validate/package.json
  security-actions/sca/package.json
  security-actions/scan-docker-image/package.json
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-rust/package.json
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

feat(release): dry run
  lerna.json
Owners: @Kong/team-shared-actions-reviewers

fix(release): remove allow branch config used for dry run
  lerna.json
Owners: @Kong/team-shared-actions-reviewers

chore(ci): use unscoped package names for git release tags (#277)
  README.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/package.json
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/package.json
  pr-previews/validate/package.json
  security-actions/sca/package.json
  security-actions/scan-docker-image/package.json
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-rust/package.json
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): publish [skip ci]
  code-build-actions/build-js-sdk/CHANGELOG.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/CHANGELOG.md
  code-check-actions/rust-lint/package.json
  pr-previews/cleanup/CHANGELOG.md
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/CHANGELOG.md
  pr-previews/up-to-date/package.json
  pr-previews/validate/CHANGELOG.md
  pr-previews/validate/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-gh-workflows/CHANGELOG.md
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/CHANGELOG.md
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

feat(secret-scan): add trufflehog secret scan action
  security-actions/secret-scan/README.md
  security-actions/secret-scan/action.yml
  security-actions/secret-scan/package.json
Owners: @Kong/team-security-engineering

feat(ci): update ci test file permission block
  .github/workflows/secret-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(ci): add a CI test workflow
  .github/workflows/secret-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(secret-scan): update README
  security-actions/secret-scan/README.md
Owners: @Kong/team-security-engineering

feat(ci): update ci test file name
  .github/workflows/secret-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(secret-scan): resolve review comments and README
  .github/workflows/secret-scan.yml
  security-actions/secret-scan/README.md
  security-actions/secret-scan/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(secret-scan): resolve review comments and README
  security-actions/secret-scan/action.yml
Owners: @Kong/team-security-engineering

feat(secret-scan): resolve review comments and README
  security-actions/secret-scan/README.md
Owners: @Kong/team-security-engineering

feat(secret-scan): resolve review comments and README
  .github/workflows/secret-scan.yml
  security-actions/secret-scan/README.md
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(secret-scan): resolve review comments and README
  .github/workflows/secret-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(secret-scan): add secret-scan composite action (#284)
  .github/workflows/secret-scan.yml
  security-actions/secret-scan/README.md
  security-actions/secret-scan/action.yml
  security-actions/secret-scan/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): update pnpm lockfile
  pnpm-lock.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(release): update pnpm lockfile
  pnpm-lock.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(release): update pnpm lockfile (#285)
  pnpm-lock.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(release): publish [skip ci]
  security-actions/secret-scan/CHANGELOG.md
  security-actions/secret-scan/package.json
Owners: @Kong/team-security-engineering

chore(deps): pin GitHub Actions to commit SHA
  code-check-actions/lua-lint/action.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-rust/action.yml
  security-actions/secret-scan/action.yml
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/action.yml
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-security-engineering, @Kong/team-shared-actions-reviewers

chore(deps): pin GitHub Actions to commit SHA
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering

chore(deps): revert version update for actions-checkout action
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(deps): check tag exist in ECR before pushing new tag
  .github/workflows/docker-image-sign.yml
Owners: @Kong/team-shared-actions-reviewers

chore(deps): pin GitHub Actions to commit SHA (#290)
  .github/workflows/docker-image-sign.yml
  code-check-actions/lua-lint/action.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-rust/action.yml
  security-actions/secret-scan/action.yml
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/action.yml
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-gh-workflows/CHANGELOG.md
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/secret-scan/CHANGELOG.md
  security-actions/secret-scan/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/CHANGELOG.md
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-security-engineering, @Kong/team-shared-actions-reviewers

chore(deps): update anchore/scan-actions in scan-rust
  security-actions/scan-rust/action.yml
Owners: @Kong/team-security-engineering

fix(scan-rust): 2nd usage of action
  security-actions/scan-rust/action.yml
Owners: @Kong/team-security-engineering

feat(sca): unify SCA and scan-rust actions into single action
  .github/workflows/dir-scan.yml
  security-actions/sca/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(sca): unify SCA and scan-rust actions into single action (#295)
  .github/workflows/dir-scan.yml
  security-actions/sca/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
Owners: @Kong/team-security-engineering

chore(deps): bump anchore/sbom-action from 0.20.2 to 0.20.5
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(deps): bump actions/upload-artifact from 4.6.1 to 4.6.2
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(deps): bump actions/cache from 4.2.2 to 4.2.4
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(deps): bump actions/checkout to 5.0.0
  .github/workflows/build-sdk-js.yml
  .github/workflows/ci.yml
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/docker-image-sign.yml
  .github/workflows/lua-lint.yml
  .github/workflows/release-notification.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/secret-scan.yml
  .github/workflows/semgrep.yml
  code-build-actions/build-js-sdk/action.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(deps): bump actions/checkout and aws-actions/configure-aws-credentials to latest versions
  .github/workflows/docker-image-sign.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(deps): bump docker/login-action to 3.5.0
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/docker-image-sign.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(deps): bump actions/checkout and actions/setup-python to latest
  .github/workflows/release-notification.yml
  security-actions/scan-gh-workflows/action.yml
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(deps): bump anchore/action to latest 6.5.1
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-rust/action.yml
Owners: @Kong/team-security-engineering

chore(deps): bump action/cache and docker/metadata-action to latest versions
  .github/workflows/docker-image-sign.yml
  security-actions/sca/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering
