Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

feat(security-actions/scan-docker-image): support `trivy_db_cache` as alternate (#184)
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(release): Independent releases for Public Shared Actions
  .eslintignore
  .eslintrc.json
  .github/workflows/auto-tagger.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .npmrc
  README.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/package.json
  commitlint.config.js
  lefthook.yml
  lerna.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/package.json
  pr-previews/validate/package.json
  security-actions/sca/package.json
  security-actions/scan-docker-image/action.yml
  security-actions/scan-docker-image/package.json
  security-actions/scan-rust/package.json
  security-actions/semgrep/action.yml
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

Update docker-image-scan.yml
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(release): independent releases for Public Shared Actions
  .eslintignore
  .eslintrc.json
  .github/workflows/auto-tagger.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .npmrc
  README.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/package.json
  commitlint.config.js
  lefthook.yml
  lerna.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/package.json
  pr-previews/validate/package.json
  security-actions/sca/package.json
  security-actions/scan-docker-image/package.json
  security-actions/scan-rust/package.json
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

chore(ci): run commitlint on main branch as well (#104)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  code-build-actions/build-js-sdk/CHANGELOG.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/CHANGELOG.md
  code-check-actions/rust-lint/package.json
  package.json
  pnpm-lock.yaml
  pr-previews/cleanup/CHANGELOG.md
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/CHANGELOG.md
  pr-previews/up-to-date/package.json
  pr-previews/validate/CHANGELOG.md
  pr-previews/validate/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/CHANGELOG.md
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

feat(deps): update README
  README.md
  code-build-actions/build-js-sdk/CHANGELOG.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/CHANGELOG.md
  code-check-actions/rust-lint/package.json
  pr-previews/cleanup/CHANGELOG.md
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/CHANGELOG.md
  pr-previews/up-to-date/package.json
  pr-previews/validate/CHANGELOG.md
  pr-previews/validate/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/CHANGELOG.md
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

feat(release): independent releases for public shared actions (#201)
  .eslintignore
  .eslintrc.json
  .github/workflows/auto-tagger.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .npmrc
  README.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/package.json
  commitlint.config.js
  lefthook.yml
  lerna.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/package.json
  pr-previews/validate/package.json
  security-actions/sca/package.json
  security-actions/scan-docker-image/package.json
  security-actions/scan-rust/package.json
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): publish [skip ci]
  code-build-actions/build-js-sdk/CHANGELOG.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/CHANGELOG.md
  code-check-actions/rust-lint/package.json
  pr-previews/cleanup/CHANGELOG.md
  pr-previews/cleanup/package.json
  pr-previews/up-to-date/CHANGELOG.md
  pr-previews/up-to-date/package.json
  pr-previews/validate/CHANGELOG.md
  pr-previews/validate/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/CHANGELOG.md
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): test the new released tags
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): test the new released tags
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): test the new released tags
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): test the semgrep tag 4.0.0
  .github/workflows/semgrep.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): test the semgrep tag 4.0.0
  .github/workflows/semgrep.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): test tag use
  .github/workflows/docker-image-scan.yml
  .github/workflows/semgrep.yml
Owners: @Kong/team-shared-actions-reviewers

chore(ci,release): update slack message
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

chore(ci): test slack message
  .github/workflows/ci.yml
Owners: @Kong/team-shared-actions-reviewers

chore(ci): test slack message
  .github/workflows/ci.yml
Owners: @Kong/team-shared-actions-reviewers

fix(release): remove explicit headref checkout step
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

fix(release): remove explicit headref checkout step (#205)
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

fix(ci,release): update slack commit message
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

chore(sign-docker-image): set issuer to github-action
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(sign-docker-image): set issuer to github-action (#206)
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-security-engineering

docs(deps): add security document
  SECURITY.md
Owners: @Kong/team-shared-actions-reviewers

docs(deps): reword
  SECURITY.md
Owners: @Kong/team-shared-actions-reviewers

docs: add security document (#207)
  SECURITY.md
Owners: @Kong/team-shared-actions-reviewers

fix(ci): publish release only when ci workflow succeds
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

fix(ci): publish release only when ci workflow succeds (#208)
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

fix(ci): fix yaml syntax error
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

fix(ci): fix yaml syntax error (#209)
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

chore(ci): pin 3rd-party actions to specific commit hashes
  code-check-actions/lua-lint/action.yml
  code-check-actions/rust-lint/action.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-rust/action.yml
Owners: @Kong/team-security-engineering

chore(ci): pin 3rd-party actions to specific commit hashes (#210)
  code-check-actions/lua-lint/action.yml
  code-check-actions/rust-lint/action.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-rust/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/CHANGELOG.md
  code-check-actions/rust-lint/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
Owners: @Kong/team-security-engineering

chore(ci): update slack message (#204)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

feat(deps): add renovate config
  renovate.json
Owners: @Kong/team-shared-actions-reviewers

docs(docs): document independent releases in README
  README.md
  commitlint.config.js
Owners: @Kong/team-shared-actions-reviewers

fix(deps): remove doc scope
  commitlint.config.js
Owners: @Kong/team-shared-actions-reviewers

pin main ref for slsa provenance for node20
  .github/workflows/docker-image-provenance.yml
Owners: @Kong/team-shared-actions-reviewers

feat(release): add release notification workflow
  .github/workflows/ci.yml
  .github/workflows/release-notification.yml
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

feat(release): add release notification workflow (#211)
  .github/workflows/ci.yml
  .github/workflows/release-notification.yml
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering
