Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering

update download and upload action to v4
  code-check-actions/lua-lint/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-rust/action.yml
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

update download and upload action to v4 (#79)
  code-check-actions/lua-lint/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-rust/action.yml
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

ci(.github): generalize sca scan for non docker artifacts
  .github/dependabot.yml
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/sca/scripts/scan-metadata.sh
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

Update security-actions/sca/action.yml
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

ci(.github): generalize sca scan for non docker artifacts (#89)
  .github/dependabot.yml
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/sca/scripts/scan-metadata.sh
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

ci(.github): fix sca action path and ref for image scan
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

ci(.github): fix sca action path and ref for image scan (#93)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat: Add optional "config" input to sca syft action
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

feat: Add optional "config" input to sca syft action (#94)
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

ci(.github): deprecate reuse of sca scan action in docker image scan
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-docker-image/scripts/scan-metadata.sh
Owners: @Kong/team-security-engineering

ci(.github): deprecate reuse of sca scan action in docker image scan (#95)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-docker-image/scripts/scan-metadata.sh
Owners: @Kong/team-security-engineering

update docker/login-action to v3.0.0
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

update docker/login-action to v3.0.0 (#98)
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

ci(deps): bump cosign to v2.2.3 to avoid sigstore TUF invalid key issue
  .github/dependabot.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

ci(deps): bump cosign to v2.2.3 to avoid sigstore TUF invalid key issue (#100)
  .github/dependabot.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

ci(.github): Add SLSA docker image provenance test workflow
  .github/workflows/docker-image-provenance.yml
Owners: @Kong/team-shared-actions-reviewers

ci(.github): Add SLSA docker image provenance test workflow (#102)
  .github/workflows/docker-image-provenance.yml
Owners: @Kong/team-shared-actions-reviewers

ci(.github): fix permissions for provenance test workflow
  .github/workflows/docker-image-provenance.yml
Owners: @Kong/team-shared-actions-reviewers

ci(.github): fix permissions for provenance test workflow (#103)
  .github/workflows/docker-image-provenance.yml
Owners: @Kong/team-shared-actions-reviewers

chore(readme): Add usage examples to security actions
  security-actions/sca/README.md
  security-actions/scan-docker-image/README.md
  security-actions/sign-docker-image/README.md
Owners: @Kong/team-security-engineering

chore(readme): Add usage examples to security actions (#106)
  security-actions/sca/README.md
  security-actions/scan-docker-image/README.md
  security-actions/sign-docker-image/README.md
Owners: @Kong/team-security-engineering

chore(readme): Add vulnerability migration and breakglass strategy for SCA and CVE action
  code-check-actions/lua-lint/README.md
  code-check-actions/rust-lint/README.md
  security-actions/sca/README.md
  security-actions/scan-docker-image/README.md
  security-actions/semgrep/README.md
Owners: @Kong/team-security-engineering

chore(readme): Add vulnerability migration and breakglass strategy for SCA and CVE action (#107)
  code-check-actions/lua-lint/README.md
  code-check-actions/rust-lint/README.md
  security-actions/sca/README.md
  security-actions/scan-docker-image/README.md
  security-actions/semgrep/README.md
Owners: @Kong/team-security-engineering

option to publish sbom to tags / GH release assets
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

option to publish sbom to tags / GH release assets (#109)
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

add permissions needed for security jobs
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/scan-docker-image/README.md
  security-actions/sign-docker-image/README.md
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

add github pat for sbom releases
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

add permissions and GH token needed for sbom releases (#110)
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
  security-actions/sign-docker-image/README.md
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix unnecessary extra inputs in sca action
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix unnecessary extra inputs in sca action (#112)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

Update docker-image-scan.yml
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

chore(ci): Reuse grype db cache after initial download
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(ci): Reuse grype db cache after initial download
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

use grype db cache to rust scan
  security-actions/scan-rust/action.yml
Owners: @Kong/team-security-engineering

Avoid Grype DB downloads during subsequent invocations of grype scan-action (#115)
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-scan.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-rust/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

add separate signature registry opts for image signing
  security-actions/sign-docker-image/README.md
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

add separate signature registry opts for image signing (#116)
  security-actions/sign-docker-image/README.md
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat(threat-modeler): add genAI threat modeling action
  .gitignore
  security-actions/threat-modeler/action.yml
  security-actions/threat-modeler/example_consumer.yml
  security-actions/threat-modeler/threat-modeler/action.yml
  security-actions/threat-modeler/threat-modeler/dist/main.js
  security-actions/threat-modeler/threat-modeler/package-lock.json
  security-actions/threat-modeler/threat-modeler/package.json
  security-actions/threat-modeler/threat-modeler/prompt.txt
  security-actions/threat-modeler/threat-modeler/src/main.ts
  security-actions/threat-modeler/threat-modeler/tsconfig.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix(ci): add sbom metadata when scanning gh repositories
  .github/workflows/dir-scan.yml
  security-actions/sca/action.yml
  security-actions/sca/scripts/scan-metadata.sh
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(lua-lint): add an option to make the action fail if the linting fails
  code-check-actions/lua-lint/action.yml
Owners: @Kong/team-security-engineering
