Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering

fix(ci): instead of manager approval require test-exempt description [KHCP-21463] (#374)
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): publish [skip ci]
  pr-previews/audit/CHANGELOG.md
  pr-previews/audit/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly, @Kong/team-security-engineering

fix: stripping the comments before searching for test-except pattern [KHCP-21643]
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): stripping the comments before searching for test-except pattern [KHCP-21643] (#375)
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): publish [skip ci]
  pr-previews/audit/CHANGELOG.md
  pr-previews/audit/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

feat(sign-docker-image): support Docker OIDC
  .github/workflows/docker-image-sign.yml
  security-actions/sign-docker-image/README.md
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix(sign-docker-image): extend signing timeout
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

ci(scan-docker-image): use upstream Grype DB
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

fix(sign-docker-image): configure OIDC lifetime
  security-actions/sign-docker-image/README.md
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat(sign-docker-image): support Docker OIDC (#376)
  .github/workflows/docker-image-scan.yml
  .github/workflows/docker-image-sign.yml
  security-actions/sign-docker-image/README.md
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-security-engineering

feat(check-labels): prevent pr merge if label is applied
  code-check-actions/check-labels/CHANGELOG.md
  code-check-actions/check-labels/README.md
  code-check-actions/check-labels/action.yml
  code-check-actions/check-labels/package.json
  pnpm-lock.yaml
Owners: @Kong/team-security-engineering, @Kong/team-shared-actions-reviewers

feat(check-labels): prevent pr merge if label is applied (#377)
  code-check-actions/check-labels/CHANGELOG.md
  code-check-actions/check-labels/README.md
  code-check-actions/check-labels/action.yml
  code-check-actions/check-labels/package.json
  pnpm-lock.yaml
Owners: @Kong/team-security-engineering, @Kong/team-shared-actions-reviewers

chore(ci): use github token for release
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

chore(ci): use github token for release (#378)
  .github/workflows/release.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): publish [skip ci]
  code-check-actions/check-labels/CHANGELOG.md
  code-check-actions/check-labels/package.json
Owners: @Kong/team-security-engineering

fix(pr-audit): read none patched versions
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(scan-docker-image): use native token instead of pat token
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

Revert "fix(scan-docker-image): use native token instead of pat token"
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

fix(pr-audit): read none patched versions (#379)
  pr-previews/audit/action.yaml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly
