Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering

chore(deps): bump semgrep and sbom-action to latest versions
  security-actions/sca/action.yml
  security-actions/semgrep/action.yml
  security-actions/semgrep/requirements.txt
Owners: @Kong/team-security-engineering

chore(deps): bump setup-node action to latest versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  code-build-actions/build-js-sdk/action.yaml
Owners: @Kong/team-shared-actions-reviewers

chore(deps): bump actions/upload-artifact to latest versions
  code-check-actions/lua-lint/action.yml
  security-actions/sca/action.yml
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-rust/action.yml
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(deps): update PSA deps (#296)
  .github/workflows/build-sdk-js.yml
  .github/workflows/ci.yml
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/docker-image-sign.yml
  .github/workflows/lua-lint.yml
  .github/workflows/release-notification.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/secret-scan.yml
  .github/workflows/semgrep.yml
  code-build-actions/build-js-sdk/action.yaml
  code-check-actions/lua-lint/action.yml
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-rust/action.yml
  security-actions/semgrep/action.yml
  security-actions/semgrep/requirements.txt
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  code-build-actions/build-js-sdk/CHANGELOG.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-gh-workflows/CHANGELOG.md
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(sign-docker-image): bump cosign-install version
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(semgrep): use unscoped package name for git release tags
  security-actions/semgrep/package.json
Owners: @Kong/team-security-engineering

chore(semgrep): use unscoped package name for git release tags (#300)
  security-actions/semgrep/package.json
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
Owners: @Kong/team-security-engineering

feat(scan-gh-cis): add GH CIS scan action
  .github/workflows/legitify-cis-scan.yml
  security-actions/scan-gh-cis/README.md
  security-actions/scan-gh-cis/action.yml
  security-actions/scan-gh-cis/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(ci): fix typo
  .github/workflows/legitify-cis-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(scan-docker-image): add by-cve flag to organise results by CVE
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(scan-docker-image): add by-cve flag to organise results by CVE (#310)
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

feat(cis-scans): add GH CIS scan action
  .github/workflows/legitify-cis-scan.yml
  security-actions/scan-gh-cis/README.md
  security-actions/scan-gh-cis/action.yml
  security-actions/scan-gh-cis/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(ci): fix typo
  .github/workflows/legitify-cis-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(cis-scans): add legitify action
  .github/workflows/legitify-cis-scan.yml
  security-actions/cis-scans/README.md
  security-actions/cis-scans/action.yml
  security-actions/cis-scans/package.json
  security-actions/scan-gh-cis/README.md
  security-actions/scan-gh-cis/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(scan-docker-image): add by-cve flag to organise results by CVE (#310)
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

feat(cis-scans): remove on PR event trigger from workflow file
  .github/workflows/legitify-cis-scan.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
Owners: @Kong/team-security-engineering

feat(ci): add slack workflow to notify PSA workflow status
  .github/workflows/dir-scan.yml
  .github/workflows/workflow-notifications.yml
Owners: @Kong/team-shared-actions-reviewers

feat(ci): add slack workflow to notify PSA workflow status
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(ci): add slack workflow to notify PSA workflow status
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/workflow-notifications.yml
Owners: @Kong/team-shared-actions-reviewers

chore(deps): combine update dep versions (#312)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-security-engineering

feat(scan-gh-config): add GH CIS scan action
  .github/workflows/legitify-cis-scan.yml
  security-actions/scan-gh-cis/README.md
  security-actions/scan-gh-cis/action.yml
  security-actions/scan-gh-cis/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(scan-docker-image): add by-cve flag to organise results by CVE (#310)
  .github/workflows/docker-image-scan.yml
  security-actions/scan-docker-image/README.md
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

feat(ci): fix typo
  .github/workflows/legitify-cis-scan.yml
Owners: @Kong/team-shared-actions-reviewers

feat(scan-gh-config): add legitify action
  .github/workflows/legitify-cis-scan.yml
  security-actions/cis-scans/README.md
  security-actions/cis-scans/action.yml
  security-actions/cis-scans/package.json
  security-actions/scan-gh-cis/README.md
  security-actions/scan-gh-cis/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(scan-gh-config): remove on PR event trigger from workflow file
  .github/workflows/legitify-cis-scan.yml
Owners: @Kong/team-shared-actions-reviewers

chore(deps): combine update dep versions (#312)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/sign-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(scan-gh-config): rename action name
  security-actions/scan-gh-config/README.md
  security-actions/scan-gh-config/action.yml
  security-actions/scan-gh-config/package.json
Owners: @Kong/team-security-engineering

chore(ci): rename workflow and action used within workflow
  .github/workflows/scan-github-config.yml
Owners: @Kong/team-shared-actions-reviewers

chore(ci): rename workflow and action used within workflow
  .github/workflows/scan-github-config.yml
Owners: @Kong/team-shared-actions-reviewers

feat(ci): add slack workflow to notify PSA workflow status
  .github/workflows/build-sdk-js.yml
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/docker-image-sign.yml
  .github/workflows/lua-lint.yml
  .github/workflows/rust-lint.yml
  .github/workflows/rust-sca.yml
  .github/workflows/secret-scan.yml
  .github/workflows/semgrep.yml
  .github/workflows/workflow-notifications.yml
Owners: @Kong/team-shared-actions-reviewers

fix(semgrep): print semgrep output to console log
  security-actions/semgrep/action.yml
Owners: @Kong/team-security-engineering
