Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

feat(deps): resolve review comments
  README.md
Owners: @Kong/team-shared-actions-reviewers

feat(deps): ignore commitlint check for dependabot messages
  commitlint.config.js
Owners: @Kong/team-shared-actions-reviewers

chore(ci): update commitlint.config.js
  commitlint.config.js
Owners: @Kong/team-shared-actions-reviewers

feat(deps): ignore commitlint check for dependabot messages (#220)
  commitlint.config.js
Owners: @Kong/team-shared-actions-reviewers

feat(ci): gh sast scan for anti-patterns
  .github/workflows/action-lint.yml
  .github/workflows/gh-analyze.yml
  .github/workflows/gh-lint.yml
  .github/workflows/shell-check.yml
  .github/workflows/test-slack-actions.yml
  .shellcheckrc
  README.md
  code-check-actions/rust-lint/scripts/set-env.sh
  lefthook.yml
  package.json
  pnpm-lock.yaml
  requirements.txt
  security-actions/sca/scripts/scan-metadata.sh
  security-actions/scan-docker-image/scripts/scan-metadata.sh
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-gh-workflows/scripts/scan-metadata.sh
  security-actions/scan-rust/scripts/scan-metadata.sh
  security-actions/sign-docker-image/scripts/cosign-metadata.sh
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

refactor(ci): add json ghsast findings report for confidence details
  security-actions/scan-gh-workflows/action.yml
Owners: @Kong/team-security-engineering

feat(deps): add security tools image mirroring process
  .github/workflows/mirroring.yml
Owners: @Kong/team-shared-actions-reviewers

feat(deps): add trivy-db mirroring process
  .github/workflows/trivy-db-mirror.yml
Owners: @Kong/team-shared-actions-reviewers

feat(deps): add login aws cloud reusable action
  login-aws-cloud/action.yml
Owners: @Kong/team-shared-actions-reviewers

feat(semgrep): semgrep dockerfile and metadata yaml file
  security-actions/semgrep/action.yml
  security-actions/semgrep/build/dockerfiles/semgrep.Dockerfile
  security-actions/semgrep/build/semgrep.yml
  security-actions/semgrep/run-semgrep/action.yml
Owners: @Kong/team-security-engineering

feat(scan-docker-image): update trivy dockerfile and metadata yaml file
  security-actions/scan-docker-image/build/dockerfiles/trivy.Dockerfile
  security-actions/scan-docker-image/build/trivy-db.yml
  security-actions/scan-docker-image/build/trivy.yml
  security-actions/scan-docker-image/run-trivy/action.yml
Owners: @Kong/team-security-engineering

feat(deps): update mirroring workflow trigger
  .github/workflows/mirroring.yml
  .github/workflows/trivy-db-mirror.yml
Owners: @Kong/team-shared-actions-reviewers

feat(ci): gha analyzer action for anti-patterns
  .github/workflows/test-slack-actions.yml
  README.md
  code-check-actions/rust-lint/scripts/set-env.sh
  lefthook.yml
  package.json
  pnpm-lock.yaml
  requirements.txt
  security-actions/sca/scripts/scan-metadata.sh
  security-actions/scan-docker-image/scripts/scan-metadata.sh
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-gh-workflows/scripts/scan-metadata.sh
  security-actions/scan-rust/scripts/scan-metadata.sh
  security-actions/sign-docker-image/scripts/cosign-metadata.sh
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(ci): gha analyzer action for anti-patterns (#214)
  .github/workflows/test-slack-actions.yml
  README.md
  code-check-actions/rust-lint/scripts/set-env.sh
  lefthook.yml
  package.json
  pnpm-lock.yaml
  requirements.txt
  security-actions/sca/scripts/scan-metadata.sh
  security-actions/scan-docker-image/scripts/scan-metadata.sh
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-gh-workflows/scripts/scan-metadata.sh
  security-actions/scan-rust/scripts/scan-metadata.sh
  security-actions/sign-docker-image/scripts/cosign-metadata.sh
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  code-check-actions/rust-lint/CHANGELOG.md
  code-check-actions/rust-lint/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-gh-workflows/CHANGELOG.md
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(ci): bump trivy from v0.57.1 to v0.58.2
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(ci): bump trivy from v0.57.1 to v0.58.2 (#225)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(ci): disable commitlint max body length
  commitlint.config.js
Owners: @Kong/team-shared-actions-reviewers

fix(ci): commitlint syntax typo
  commitlint.config.js
Owners: @Kong/team-shared-actions-reviewers

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

feat(ci): fixing unexpected error in cleanup [KHCP-14702]
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): more debugging
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): synax error
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): more debugging
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): errexit
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): remove unneeded changes and echos
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): more unwanted changes removed
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): handle err exit in cleanup action [KHCP-14704]
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(ci): handle err exit in cleanup action [KHCP-14704] (#227)
  pr-previews/cleanup/action.yml
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): publish [skip ci]
  pr-previews/cleanup/CHANGELOG.md
  pr-previews/cleanup/package.json
Owners: @adamdehaven, @ValeryG, @Drew-Kimberly

fix(scan-docker-image): disable trivy exit-code for docker-cis
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(scan-docker-image): disable trivy exit-code for docker-cis (#228)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(ci): update readme
  code-check-actions/lua-lint/README.md
Owners: @Kong/team-security-engineering

chore(ci): update readme (#230)
  code-check-actions/lua-lint/README.md
Owners: @Kong/team-security-engineering

chore(ci): pin actions
  .github/workflows/build-sdk-js.yml
  .github/workflows/ci.yml
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/docker-image-sign.yml
  .github/workflows/lua-lint.yml
  .github/workflows/release-notification.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/rust-sca.yml
  .github/workflows/semgrep.yml
  .github/workflows/test-slack-actions.yml
  code-build-actions/build-js-sdk/action.yaml
  code-check-actions/lua-lint/README.md
  code-check-actions/lua-lint/action.yml
  code-check-actions/rust-lint/README.md
  code-check-actions/rust-lint/action.yml
  pr-previews/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-rust/action.yml
  security-actions/semgrep/README.md
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/README.md
  security-actions/sign-docker-image/action.yml
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

chore(ci): pin actions (#231)
  .github/workflows/build-sdk-js.yml
  .github/workflows/ci.yml
  .github/workflows/dir-scan.yml
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-scan.yml
  .github/workflows/docker-image-sign.yml
  .github/workflows/lua-lint.yml
  .github/workflows/release-notification.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/rust-sca.yml
  .github/workflows/semgrep.yml
  .github/workflows/test-slack-actions.yml
  code-build-actions/build-js-sdk/action.yaml
  code-check-actions/lua-lint/README.md
  code-check-actions/lua-lint/action.yml
  code-check-actions/rust-lint/README.md
  code-check-actions/rust-lint/action.yml
  pr-previews/README.md
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-rust/action.yml
  security-actions/semgrep/README.md
  security-actions/semgrep/action.yml
  security-actions/sign-docker-image/README.md
  security-actions/sign-docker-image/action.yml
  slack-actions/workflow-notification/action.yaml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

chore(release): publish [skip ci]
  code-build-actions/build-js-sdk/CHANGELOG.md
  code-build-actions/build-js-sdk/package.json
  code-check-actions/lua-lint/CHANGELOG.md
  code-check-actions/lua-lint/package.json
  code-check-actions/rust-lint/CHANGELOG.md
  code-check-actions/rust-lint/package.json
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
  security-actions/scan-gh-workflows/CHANGELOG.md
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-rust/CHANGELOG.md
  security-actions/scan-rust/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
  slack-actions/workflow-notification/CHANGELOG.md
  slack-actions/workflow-notification/package.json
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

feat(semgrep): reusable action to authenticate to AWS Cloud
  login-into-cloud/action.yml
Owners: @Kong/team-shared-actions-reviewers

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering
