Repository Kong/public-shared-actions, changes with the owners that CODEOWNERS names for each.
All owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering, @adamdehaven, @ValeryG, @Drew-Kimberly

CODEOWNERS:

* @Kong/team-shared-actions-reviewers

security-actions/ @Kong/team-security-engineering
pr-previews/ @adamdehaven @ValeryG @Drew-Kimberly
code-check-actions/ @Kong/team-security-engineering

feat(deps): add renovate config to manage version updates
  renovate.json
Owners: @Kong/team-shared-actions-reviewers

feat(semgrep): configure Semgrep to use Kong ECR Semgrep Image
  login-into-cloud/action.yml
  security-actions/semgrep/action.yml
  security-actions/semgrep/run-semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

docs(workflow-notification): usage instructions
  slack-actions/workflow-notification/README.md
Owners: @Kong/team-shared-actions-reviewers

docs(workflow-notification): usage instructions (#238)
  slack-actions/workflow-notification/README.md
Owners: @Kong/team-shared-actions-reviewers

fix(ci): use embedded compliance checks across trivy runs when cache input is specified
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(ci): use embedded compliance checks across trivy runs when cache input is specified (#239)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

force to download compliance
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(scan-docker-image): grype outputs
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(scan-docker-image): grype outputs (#241)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(semgrep): migrate Semgrep usage from Docker image to binary
  .github/dependabot.yml
  .github/workflows/semgrep.yml
  requirements.txt
  security-actions/semgrep/action.yml
  security-actions/semgrep/requirements.txt
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix(deps): install zizmor using pip
  .github/dependabot.yml
  package.json
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-gh-workflows/requirements.txt
  security-actions/semgrep/action.yml
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix(deps): Install semgrep and zizmor as pip dependencies (#244)
  .github/dependabot.yml
  .github/workflows/semgrep.yml
  package.json
  requirements.txt
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-gh-workflows/requirements.txt
  security-actions/semgrep/action.yml
  security-actions/semgrep/requirements.txt
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix(deps): install semgrep and zizmor as pip dependencies (#244)
  .github/dependabot.yml
  .github/workflows/semgrep.yml
  package.json
  requirements.txt
  security-actions/scan-gh-workflows/action.yml
  security-actions/scan-gh-workflows/package.json
  security-actions/scan-gh-workflows/requirements.txt
  security-actions/semgrep/action.yml
  security-actions/semgrep/requirements.txt
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-gh-workflows/CHANGELOG.md
  security-actions/scan-gh-workflows/package.json
  security-actions/semgrep/CHANGELOG.md
  security-actions/semgrep/package.json
Owners: @Kong/team-security-engineering

fix(ci): remove the test-slack-actions workflow
  .github/workflows/test-slack-actions.yml
Owners: @Kong/team-shared-actions-reviewers

fix(ci): remove the test-slack-actions workflow (#246)
  .github/workflows/test-slack-actions.yml
Owners: @Kong/team-shared-actions-reviewers

chore(deps): update README on using shared Renovate config for PSA version management
  README.md
Owners: @Kong/team-shared-actions-reviewers

chore(deps): update README on using shared Renovate config for PSA version management (#248)
  README.md
Owners: @Kong/team-shared-actions-reviewers

feat(scan-docker-image): update grype version to v6.2.0
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(scan-docker-image): install grype via binary
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

feat(scan-docker-image): update grype version to v6.2.0 (#255)
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

fix(ci): remove file existence dependency
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(ci): remove file existence dependency (#262)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

fix(lua-lint): use forked kong-gateway luacheck
  code-check-actions/lua-lint/action.yml
Owners: @Kong/team-security-engineering

fix(ci): add "paths:" for code check actions
  .github/workflows/lua-lint.yml
  .github/workflows/rust-lint.yml
  .github/workflows/rust-sca.yml
Owners: @Kong/team-shared-actions-reviewers

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/sign-docker-image/CHANGELOG.md
  security-actions/sign-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering

chore(ci): use private ECR and dockerhub notary for ci signing and provenance
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-sign.yml
  security-actions/sign-docker-image/README.md
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

chore(ci): use private ECR and dockerhub notary for ci signing and provenance (#273)
  .github/workflows/docker-image-provenance.yml
  .github/workflows/docker-image-sign.yml
  security-actions/sign-docker-image/README.md
Owners: @Kong/team-shared-actions-reviewers, @Kong/team-security-engineering

fix(sca): download grype binary instead of download-grype gh action
  security-actions/sca/action.yml
Owners: @Kong/team-security-engineering

fix(scan-docker-image): update grype binary version
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix/download grype binary (#275)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(sca,scan-docker-image): trigger release for grype install update
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

fix(sca,scan-docker-image): trigger release for grype install update (#276)
  security-actions/sca/action.yml
  security-actions/scan-docker-image/action.yml
Owners: @Kong/team-security-engineering

chore(release): publish [skip ci]
  security-actions/sca/CHANGELOG.md
  security-actions/sca/package.json
  security-actions/scan-docker-image/CHANGELOG.md
  security-actions/scan-docker-image/package.json
Owners: @Kong/team-security-engineering
